<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1><%= t ".glog" %></h1>
          <hr class="small">
          <span class="subheading"><%= t ".share" %></span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <% if user_signed_in? %>
        <div class="post-area">
          <%= render "shared/micropost_form", post: @post %>
        </div>
        <div class="feed-item" page="<%= @page %>" total ="<%= @feed_items.total_pages %>"
          id="view-check" view ="feed">
          <%= render "shared/feed", post: @feed_items %>
        </div>
        <div class="loading-img">
          <%= image_tag "loading.gif", id: "loading", class: "load-img" %>
        </div>
        <%= paginate @feed_items %>
      <% end %>
    </div>
  </div>
</div>
