<header class="intro-header about-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1><%= t ".about" %></h1>
          <hr class="small">
          <span class="subheading"><%= t ".do" %>.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <%= paginate @users %>

  <ul class="users-list" page="<%= @page %>" total ="<%= @users.total_pages %>"
    id="view-check" view ="user">
    <div class="row">
      <%= render @users %>
    </div>
    <div class="loading-img">
      <%= image_tag "loading.gif", id: "loading", class: "load-img" %>
    </div>
  </ul>

  <%= paginate @users %>
</div>
