<div class="cover-image">
  <%= image_tag "cover.jpg" %>
</div>
<div class="container">
  <div class="user-profile">
    <div class="row">
      <div class="col-md-4">
        <div class="avatar-pro">
          <%= image_tag @user.avatar %>
        </div>
        <div class="pro-info">
          <h3><%= @user.name %></h3>
          <p><i><%= t ".joined" %>: <%= l @user.created_at,
            format: :date_month_year %></i></p>
          <p><%= t ".posted" %>:</p>
        </div>
      </div>
      <div class="col-md-8">
        <%= render @posts, user: @user %>
        <%= will_paginate @posts %>
      </div>
    </div>
  </div>
</div>
