<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1><%= t ".glog" %></h1>
          <hr class="small">
          <span class="subheading"><%= t ".share" %></span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="feed-item" page="<%= @page %>" total ="<%= @post.total_pages %>"
        id="view-check" view ="tag" tag_id= "<%= @tag.id %>">
        <%= render @post %>
      </div>
      <div class="loading-img">
        <%= image_tag "loading.gif", id: "loading", class: "load-img" %>
      </div>
      <%= paginate @post %>
    </div>
  </div>
</div>
