<header class="intro-header" style="background-image: url(<%= @post.picture %>)">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1><%= @post.title %></h1>
          <h2 class="subheading">
            <% @post.tags.each do |tag| %>
              <%= link_to tag.name, tag %>
            <% end %>
          </h2>
          <span class="meta"><%= t ".posted_by" %> <a href="#"><%= @post.user.name %></a>
            <%= time_ago_in_words @post.created_at %> <%= t ".ago" %> </span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <%= raw @post.content %>
      <%= social_share_button_tag @post.title, allow_sites: %w(facebook google_plus twitter) %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h4><%= t ".comments" %> (<span class="cmt-count"><%= @post.comments.size %></span>)</h4>
      <hr>
      <div class="list-cmt">
        <%= render @comments, post: @post %>
      </div>
      <% if user_signed_in? %>
        <% if current_user.following? @post.user or current_user == @post.user %>
          <div class="comment-form">
            <%= render "comments/form", post: @post %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
